/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* основний колір #757575 */
/* додатковий колір #212121 */
/* акцент #2196F3 */


/* Global */
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
}

:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F4FA;
    --second-bg-color: #2196F3;
    --primary-btn-color: #212121;
    --second-btn-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/* Header */
/* Logo style */
.logo-web {
    color: var(--accent-color);
}

.logo-studio {
    color: var(--tittle-text-color);
}

/* Site nav */
.nav-link {
    color: var(--tittle-text-color);
}

.item {
    color: var(--primary-text-color); 
}

.item:hover, .item:focus {
    color: var(--accent-color);
}

/* Index html */
/* Hero */
.hero-tittle {
    color: var(--tittle-text-color);
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

.current {
     color: var(--accent-color);
}

/* Content */
.content-tittle, .content-features {
    color: var(--tittle-text-color);
}

/* About */
.about-tittle, .about-name {
    color: var(--tittle-text-color);
}

/* Footer */
.mail {
    color:var(--second-btn-color);
}

.logo-alter {
    color: var(--second-btn-color);
}

/* Portfolio html */
/* filter-list */
.filter-list {
    /* зробити невидимим */
    color: #ffffff;
}

/* Button */
.hero-btn {
    color: var(--second-btn-color);
    background-color: var(--second-bg-color);
    border-color: transparent;
    cursor: pointer;
}

.button {
    color: var(--primary-btn-color);
    background-color: var(--primary-bg-color);
    border-color: transparent;
}

.button:hover,
.button:focus {
    color: var(--second-btn-color);
    background-color: var(--second-bg-color);
    border-color: transparent;
}

/* work-list */
.work-name {
    color: var(--tittle-text-color);
}